/chart
/demo
/doc
/uploadify
/xheditor
/changepwd.html
/demo_page1.html
/demo_page2.html
/demo_page4.html
/demo_page5.html
/demo_page6.html
/demo_upload.html

/index_menu.html
/index.html
/login_dialog.html
/login.html
/main.html
/newPage1.html
/newPage2.html
/newPage3.html
/sidebar_1.html
/sidebar_2.html
/tabsPage.html
/validate_remote.html
/w_accordion.html
/w_alert.html
/w_button.html
/w_checkbox.html
/w_combox.html
/w_datepicker.html
/w_dialog.html
/w_editor.html
/w_list.html
/w_panel.html
/w_removeSelected.html
/w_tabs.html
/w_textInput.html
/w_tree.html
/w_uploadify.html
/w_validation.html
/window_open.html
